<%- include("../partials/head") %>
<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <% let user = locals.user %>
            <% if (typeof products != "undefined") { %>
                <section class="main-section">
                    <h1 class="heading"><%= locals.title ? title : 'No encontrado' %> </h1>
                    <ul class="products-list">
                        <% products.forEach(product => { %>
                            <% if (product.onList === 'true') { %>
                                <li class="product-item">
                                    <article class="item">
                                        <div class="image-container">
                                            <a href="/products/detail/<%= product.category_id %>/<%= product.id %>">
                                                <% if (product.dataValues.files[0]) { %>
                                                    <img src="/img/products/<%= product.dataValues.files[0].dataValues.url %>">
                                                    <!--  AGREGAR SEGUNDA IMG -->
                                                <% } else { %>
                                                    <img src="/img/products/default-img.jpg">
                                                <% } %>
                                            </a>
                                        </div>
                                        <div class="item-details">
                                            <h3 class="item-heading">
                                                <a class="link" href="/products/detail/<%= product.category_id %>/<%= product.id %>"><%= product.name %></a>
                                            </h3>
                                            <strong class="item-price">
                                                <span class="price-regular">$ <%= product.price %></span>
                                            </strong>
                                            <Ul class="list-swatches">
                                                <li class="swatch-item" style="background-color:#<%= product.color.dataValues.hex %>">
                                                    <a class="swatch" href="/products/detail/<%= product.category_id %>/<%= product.id %>"></a>
                                                </li>
                                                <li class="swatch-item" style="background-color:#<%= product.color2.dataValues.hex %>">
                                                    <a class="swatch" href="/products/detail/<%= product.category_id %>/<%= product.id %>"></a>
                                                </li>
                                            </Ul>
                                            <a href="/products/detail/<%= product.category_id %>/<%= product.id %>" class="cart-container">
                                                <span class="cart-icon">
                                                    <i class="fas fa-shopping-cart"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <% if (user && user.isAdmin == 'true') { %>
                                            <div class="admin-controls">
                                                <a href="/products/edit/<%= product.category_id %>/<%= product.id %>" class="edit-container">
                                                    <i class="fa-solid fa-pen-to-square" id="edit-btn"></i>
                                                </a>
                                                <form action="/products/delete/<%= product.category_id %>/<%= product.id %>?m=DELETE" method="post">
                                                    <button type="submit" id="delete-btn"><i class="fa-solid fa-x" id="delete-btn"></i></button>
                                                </form>
                                            </div>
                                        <% } %>
                                    </article>
                                </li>
                            <% } %>
                        <% }) %> 
                    </ul>
                </section>
                <nav class="nav-page">
                    <a href="#">Anterior</a> | <a href="#">Siguiente</a>
                </nav>
            <% } else { %>
                <h1 class="notLoaded"> No hay productos por el momento. Vuelva a intentar mas tarde </h1>
            <% } %>
        </main>
        <%- include("../partials/footer.ejs") %>
</body>
</html>