<%- include("../partials/head") %>
<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <section>
                <% if (products.length > 0) { %>
                    <h1><%= locals.title ? title : 'Producto' %> </h1>

                    <% for(let i = 0; i < products.length; i++) { %>
                        <article>
                            <a class="a-homesecundario" href="/products/detail/<%= products[i].id %>">
                                <img src=/img/products/<%=products[i].img %> alt="<%= products[i].description %>">
                            </a>
                            <div>
                                <p class="descr"><b><%= products[i].name %></b></p>
                                <p class="precios">
                                    $ <%= products[i].price %>
                                </p>
                                <% if (locals.user && locals.user.isAdmin) { %>
                                    <a class="edit-button" href="/products/edit/<%= products[i].id %>"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <form action="/products/category/<%= products[i].category %>?m=DELETE" method="post">
                                        <input type="hidden" name="id" value="<%= products[i].id %>">
                                        <button type="submit"><i class="fa-solid fa-x"></i></button>
                                    </form>
                                <% } %>
                            </div>
                        </article>
                    <% } %>

                    
                            <nav class="cambiopagina">
                                <p><a href="#">Anterior</a> | <a href="#">Siguiente</a></p>
                            </nav>
                <% } else { %>
                    <h4>No hay productos por el momento</h1>
                <% } %>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>