<%- include("../partials/head") %>
<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <% if (products.length > 0) { %>
                <section class="main-section">
                    <h1 class="heading">Categoria <%= locals.title ? title : 'Producto' %> </h1>
                    <ul class="products-list">
                        <% products.forEach(product => { %>
                        <li class="product-item">
                            <a class="item" href="/products/detail/<%= product.id %>">
                                <div class="image-container">
                                    <img src="/img/products/<%= product.dataValues.files[0].dataValues.url %>">
                                    <!--  AGREGAR SEGUNDA IMG -->
                                </div>
                                <div class="item-details">
                                    <h3 class="item-heading">
                                        <a class="link" href=""><%= product.name %></a>
                                    </h3>
                                    <strong class="item-price">
                                        <span class="price-regular">$ <%= product.price %></span>
                                    </strong>
                                    <Ul class="list-swatches">
                                        <li class="swatch-item" style="background-color: beige;">
                                            <a class="swatch" href="#"></a>
                                        </li>
                                        <li class="swatch-item" style="background-color: black;">
                                            <a class="swatch" href="#"></a>
                                        </li>
                                        <li class="swatch-item" style="background-color: bisque;">
                                            <a class="swatch" href="#"></a>
                                        </li>
                                    </Ul>
                                    <a href="#" class="cart-container">
                                        <span class="cart-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </a>
                                </div>
                            </a>
                        </li>
                        <% }) %> 
                    </ul>
                </section>
                <nav class="nav-page">
                    <a href="#">Anterior</a> | <a href="#">Siguiente</a>
                </nav>
            <% } else { %>
                <h1 class="notLoaded"> No hay productos por el momento. Vuelva a intentar mas tarde </h1>
            <% } %>
        </main>
        <%- include("../partials/footer.ejs") %>
</body>
</html>