<%- include("../partials/head") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <section class="main-container">
            <section class="title-container">
                <h1><%= locals.title ? title : null %> </h1>
            </section>
            <form action="/products/create" method="post" enctype="multipart/form-data">
                <section class="grid-layout">
                    <section class="child-name">
                        <label for="name">Nombre del producto</label>
                        <input 
                            type="text" 
                            name="name" 
                            value="<%= locals.oldData ? oldData.name : null %>"
                            class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.name) { %>
                            <div class="text-danger">
                                <%= errors.name.msg %> 
                            </div>
                        <% } %>


                        <label for="category">Categoria</label>
                        <select name="category" required>
                            <% for( let i = 0; i < categories.length; i++ ) { %>
                                <option value="<%= i + 1 %>"><%= categories[i].name %></option>
                            <% } %>
                        </select>


                        <label>Descripción</label>
                        <textarea 
                            class="description" 
                            name="description" 
                            placeholder="Descripcion del producto.."
                            class="form-control <%= locals.errors && errors.description ? 'is-invalid' : null %>"
                        ><%= locals.oldData ? oldData.description : "" %></textarea>
                    </section>

                    <section class="child-image">
                        <label for="img">Imagen</label>
                        <div class="file-select">
                            <input 
                                type="file" 
                                name="img" 
                                aria-label="Archivo" class="form-control <%= locals.errors && errors.img ? 'is-invalid' : null %>"
                                multiple
                            >

                                <% if (locals.errors && errors.img) { %>
                                    <div class="text-danger">
                                        <%= errors.img.msg %> 
                                    </div>
                                <% } %>
                        </div>
                        <img src="/img/products/default-img.jpg" alt="Imagen del Producto" class="imagen">
                     </section>

                    <section class="child-detail">
                        <section class="detail">
                              <label for="stock">Stock</label>
                            <input 
                                type="text" 
                                name="stock" 
                                value="<%= locals.oldData ? oldData.stock : null %>"
                                class="form-control <%= locals.errors && errors.stock ? 'is-invalid' : null %>"
                            >

                            <% if (locals.errors && errors.stock) { %>
                                <div class="text-danger">
                                    <%= errors.stock.msg %> 
                                </div>
                            <% } %>

                        </section>
                        <section class="detail">
                                <label for="size">Talles</label>
                                <input 
                                    type="text" 
                                    name="size"
                                    placeholder="S M L XL"
                                    value="<%= locals.oldData ? oldData.size : null %>"
                                    class="form-control <%= locals.errors && errors.size ? 'is-invalid' : null %>"
                                >

                                <% if (locals.errors && errors.size) { %>
                                    <div class="text-danger">
                                        <%= errors.size.msg %> 
                                    </div>
                                <% } %>

                        </section>
                        <% if( typeof(colors) !="undefined") {%>
                            <section class="detail">
                                <label for="color">Color</label>
                                <select name="color" required>
                                    <% colors.forEach(color => { %>
                                        <option value="<%= color.id %>"><%=color.name%></option>
                                    <% }) %>
                                </select>
                            
                                <label for="color2">Color Secundario</label>
                                <select name="color2" required>
                                    <% colors.forEach(color => { %>
                                        <option value="<%= color.id %>"><%=color.name%></option>
                                    <% }) %>
                                </select>
                            </section>
                        <% } %>

                        <section class="detail">
                            <label for="price">Precio</label>
                            <input 
                                type="text" 
                                name="price"
                                placeholder="$" 
                                class="form-control <%= locals.errors && errors.price ? 'is-invalid' : null %>"
                                value="<%= locals.oldData ? oldData.price : null %>"
                            >
                            <% if (locals.errors && errors.price) { %>
                                <div class="text-danger">
                                    <%= errors.price.msg %> 
                                </div>
                            <% } %>
                        </section>
                        
                        <section class="detail">
                            <label for="offert">Oferta</label>
                            <input type="checkbox" name="offert">
                            <label for="onList">Mostrar Producto</label>
                            <input type="checkbox" name="onList" checked>
                        </section>
                        
                </section>
                <section class="button-create">
                    <button type="submit" class="btn-confirm">Crear</button>
                    <button type="reset" class="btn-reset">Cancelar</button>
                </section>
            </form>
        </section>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>

</html>