<%- include("../partials/head") %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="main-container">
            <section class="title-container">
                <h1><%= locals.title ? title : null %></h1>
            </section>
            <form action="/products/edit/<%= product ? product.id : ""%>?m=PUT" method="post">  <!-- enctype="multipart/form-data" -->
                <section class="grid-layout">
                    <section class="child-name">
                        <label for="name">Nombre del producto</label>
                        <input 
                            type="text" 
                            name="name" 
                            value="<%= locals.product ? product.name : null %>"
                            class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                        >
                        <% if (locals.errors && errors.name) { %>
                            <div class="text-danger">
                                <%= errors.name.msg %> 
                            </div>
                        <% } %>

                        <select 
							name="category" 
							class="form-select <%= locals.errors && errors.category ? 'is-invalid' : null %>"
						>
						    <option value="">Elegi una Categoria</option>
							<%  
								let categories = ['Hombre', 'Mujer', 'Accesorios', 'Otros'];
							%>
							<% for (const [i, oneCategory] of categories.entries()) { %>
							    <option
                                    <% let categoryId = (i + 1)%>
									value="<%= categoryId %>"
                                    <% if (product) { %>
                                        <%=(categoryId == product.category_id) ? 'selected' : null %> 
                                    <% } %>
								> <%= oneCategory %></option>
							<% } %>
						</select>

                        <label>Descripción</label>
                        <textarea 
                            class="description" 
                            name="description" 
                            placeholder="Descripcion del producto.."
                            class="form-control <%= locals.errors && errors.description ? 'is-invalid' : null %>"
                        ><%= locals.product ? product.description : null %></textarea>
                    </section>

                    <section class="child-image">
                        <label for="img">Agregar Imagen</label>
                        <div class="file-select">
                            <input 
                                type="file" 
                                name="img" 
                                aria-label="Archivo" class="form-control <%= locals.errors && errors.img ? 'is-invalid' : null %>">

                                <% if (locals.errors && errors.img) { %>
                                    <div class="text-danger">
                                        <%= errors.img.msg %> 
                                    </div>
                                <% } %>
                        </div>
                        <div class="images-container">
                            <% if (product && product.files) { %>
                                <% for( let index = 0; index < product.files.length; index++ ) { %>
                                    <img src="/img/products/<%= product.files[index].url %>" alt="Imagen del Producto" class="imagen">
                                <% } %>
                            <% } else { %>
                                <img src="/img/products/default-img.jpg" alt="Imagen del Producto" class="imagen">
                            <% } %>
                        </div>
                     </section>
                    <section class="child-detail">
                        <section class="detail">
                              <label for="stock">Stock</label>
                            <input 
                                type="text" 
                                name="stock" 
                                value="<%= locals.product ? product.stock : null %>"
                                class="form-control <%= locals.errors && errors.stock ? 'is-invalid' : null %>"
                            >

                            <% if (locals.errors && errors.stock) { %>
                                <div class="text-danger">
                                    <%= errors.stock.msg %> 
                                </div>
                            <% } %>
                        </section>
                        <section class="detail">
                            <label for="size">Talle</label>
                                <input 
                                    type="text" 
                                    name="size"
                                    placeholder="S M L XL"
                                    value="<%= locals.product ? product.sizes : null %>"
                                    class="form-control <%= locals.errors && errors.size ? 'is-invalid' : null %>"
                                >

                                <% if (locals.errors && errors.size) { %>
                                    <div class="text-danger">
                                        <%= errors.size.msg %> 
                                    </div>
                                <% } %>
                        </section>

                        <section class="detail">
                            <label for="color">Color</label>
                            <select name="color" required>
                                <% colors.forEach(color => { %>
                                    <option value="<%= color.id %>" <%= product.color_id == color.id ? 'selected' : null %>> <%=color.name%> </option>
                                <% }) %>
                            </select>
                        
                            <label for="color2">Color Secundario</label>
                            <select name="color2" required>
                                <% colors.forEach(color => { %>
                                    <option value="<%= color.id %>" <%= product.color_id == color.id ? 'selected' : null %>> <%=color.name%> </option>
                                <% }) %>
                            </select>
                        </section>

                        <section class="detail">
                            <label for="price">Precio</label>
                            <input 
                                type="text" 
                                name="price"
                                placeholder="$"
                                value="<%= locals.product ? product.price : null %>"
                                class="form-control <%= locals.errors && errors.price ? 'is-invalid' : null %>"
                            >

                            <% if (locals.errors && errors.price) { %>
                                <div class="text-danger">
                                    <%= errors.price.msg %> 
                                </div>
                            <% } %>
                        </section>
                        <section class="detail">
                            <label for="offert">Oferta</label>
                            <input type="checkbox" name="offert" <%= product.offert === 'true' ? 'checked' : null %>>
                            <label for="onList">Mostrar Producto</label>
                            <input type="checkbox" name="onList" <%= product.onList === 'true' ? 'checked' : null %>>
                        </section>

                    </section>
                </section>
                <section class="button-create">
                    <button type="submit" class="btn-confirm">Editar</button>
                    <button type="reset" class="btn-reset">Cancelar</button>
                </section>
            </form>
        </section>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>