<%- include("../partials/head") %>
<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <section class="login-container">
                <form class="login-form" action="/users/login" method="post">
                    <h1> <%= locals.title ? title : null %>  </h1>
                    <fieldset>
                        <legend class="dn">Email</legend>
                        <label class="dn" for="email">Email</label>
                        <input 
                        type="text" 
                        name="email" 
                        id="email" 
                        placeholder="Correo electronico"
                        value="<%= locals.oldData ? oldData.email : null %>"
                    >
                    </fieldset>

                    <% if (locals.errors && errors.email) { %>
                        <p class="text-danger">
                            
                            *<%= errors.email.msg %>
                        </p>
                        <% } %>

                    <fieldset>
                        <legend class="dn">Contraseña</legend>
                        <label class="dn" for="password">Contraseña</label>
                        <input type="password" name="password" id="password" placeholder="Contraseña">
                    </fieldset>

                    <% if (locals.errors && errors.password) { %>
                        <p class="text-danger">
                            *<%= errors.password.msg %>
                        </p>
                    <% } %>

                    <div class="remember-container">
                        <legend class="dn">Recuerdame</legend>
                        <input class="input-remember" type="checkbox" name="remember" id="remember">
                        <label class="text-remember" for="remember">Recordame</label>
                    </div>

                    <fieldset class="login-buttons">
                        <legend class="dn">Botones del Formulario</legend>
                        <button class="login-button" type="submit">Iniciar Sesion</button>
                        <button class="register-button" type="reset"><a class="a-login" href="/users/register">Crear una Cuenta</a></button>
                    </fieldset>
                </form>
            </section>
            <section class="login-bottom">
                <p>Olvidaste tu Contraseña?</p>
                <a href="#">Recuperar Contraseña</a>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>