<%- include("../partials/head.ejs") %>
<body>

    <%- include("../partials/header.ejs") %>
        <main>
            <form enctype="multipart/form-data" action="/users/profile?_method=PUT" method="post">
                <section class="informacion">

                    <div class="secFotoPerfil">
                        <img src="/img/users/avatar/default-img.jpg" alt="" class="profile-img">
                        <div class="file-select" id="src-file1">
                            <input type="file" name="imageProfile" aria-label="Archivo">
                        </div>
                    </div>
                    <div class="secDatos">

                        <article class="profile-data">
                            <ul>
                                <li>Nombre:
                                    <%= user.firstName %>
                                </li>
                                <li>Apellido:
                                    <%= user.lastName %>
                                </li>
                                <li>Email:
                                    <%= user.email %>
                                </li>
                                <% if ( user.isAdmin == true) { %>
                                    <li>Categoria: Admin</li>
                                    <% } else { %>
                                        <li>Categoria: Cliente</li>
                                        <% } %>
                            </ul>
                        </article>


                    </div>
                </section>
                <section class="secGuardar">
                    <button type="submit" class="botonCambiar">Guardar</button>
                </section>
            </form>

        </main>
        <%- include("../partials/footer.ejs") %>
</body>