<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <section class="login-container">
                <form action="#" method="post" enctype="multipart/form-data">
                    
                    <div class="login-form">
                        <h1><%= locals.title ? title : null %> </h1>
                        <fieldset> 
                            <legend class="dn"></legend>
                            <label class="dn" for="firstName">Nombre</label>
                            <input
                                type="text" 
                                name="firstName" 
                                id="firstName"
                                class="form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
                                value="<%= locals.oldData ? oldData.firstName : null %>"
                                placeholder="Nombre" required
                            >
                            <% if (locals.errors && errors.firstName) { %>
                                <div class="text-danger">
                                    *<%= errors.firstName.msg %> 
                                </div>
                            <% } %>
                        </fieldset>

                        <fieldset>
                            <legend class="dn"></legend>
                            <label class="dn" for="lastName">Apellido</label>
                            <input 
                                type="text" 
                                name="lastName" 
                                id="lastName"
                                class="form-control <%= locals.errors && errors.lastName ? 'is-invalid' : null %>"
                                value="<%= locals.oldData ? oldData.lastName : null %>"
                                placeholder="Apellido" required
                            >
                            <% if (locals.errors && errors.lastName) { %>
                                <div class="text-danger">
                                    *<%= errors.lastName.msg %> 
                                </div>
                            <% } %>
                        </fieldset>

                        <fieldset>
                            <legend class="dn">Email</legend>
                            <label class="dn" for="clave">Email</label>
                            <input 
                                type="text" 
                                name="email" 
                                id="email"
                                class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                                value="<%= locals.oldData ? oldData.email : null %>"
                                placeholder="Direccion de Correo Electronico" required
                            >
                        </fieldset>

                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                *<%= errors.email.msg %>
                            </div>
                        <% } %>

                        <fieldset>
                            <legend class="dn">Contraseña</legend>
                            <label class="dn" for="password">Contraseña</label>
                            <input 
                                type="password" 
                                name="password" 
                                id="password" 
                                class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                                placeholder="Contraseña" required
                            >
                        </fieldset>

                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                *<%= errors.password.msg %>
                            </div>
                        <% } %>

                        <fieldset>
                            <legend class="dn">Confirmar Contraseña</legend>
                            <label class="dn" for="confirm">Confirmar Contraseña</label>
                            <input 
                                type="password" 
                                name="confirm" 
                                id="cconfirm" 
                                class="form-control <%= locals.errors && errors.confirm ? 'is-invalid' : null %>"
                                placeholder="Confirmar Contraseña" required
                            >
                        </fieldset>

                        <fieldset>
                            <legend class="avatar">Foto de perfil</legend>
                            <input
                                type="file" 
                                name="avatar"
                                id="avatar"
                                class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>"
                            >
                        </fieldset>

                        <% if (locals.errors && errors.avatar) { %>
                            <div class="text-danger">
                                *<%= errors.avatar.msg %>
                            </div>
                        <% } %>

                        <div class="login-buttons">
                            <legend class="dn">Botones del Formulario</legend>
                            <button class="login-button" type="submit">Registrarse</button>
                            <button class="register-button" type="reset"><a class="a-register" href="/">Volver al inicio</a> </button>
                        </div>
                    </div>
                </form>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>